# Monitoria

In [8]:
fiscom={'curso': 'python', 'alunos':38,'disciplina': 'Fisica Computaciona'}

In [9]:
fiscom['curso']

'python'

In [10]:
fiscom['python']

KeyError: 'python'

In [14]:
mesesest={'janeiro': 'verao', 'fevereiro': 'verao', 'marco':'outono', 'abril': 'outono','maio': 'outono', 'junho': 'inverno', 
          'julho': 'inverno', 'agosto':'primavera'}
for key in mesesest.keys()
        print('A minha estação preferida é {}, especialmente o mes {}'.format(key,mesesest[key]))

SyntaxError: invalid syntax (<ipython-input-14-2afbb3bf5016>, line 3)

In [28]:
mes={'janeiro': 'verao', 'fevereiro': 'verao', 'marco':'outono', 'abril': 'outono','maio': 'outono', 'junho': 'inverno', 
          'julho': 'inverno', 'agosto':'primavera'}
for key in mes.keys():
         print ("O mes de {} é no {}".format(key,mes[key]))

O mes de janeiro é no verao
O mes de fevereiro é no verao
O mes de marco é no outono
O mes de abril é no outono
O mes de maio é no outono
O mes de junho é no inverno
O mes de julho é no inverno
O mes de agosto é no primavera

In [25]:
for key in mes

SyntaxError: invalid syntax (<ipython-input-25-4067cba68f8c>, line 1)

In [27]:
meses = {'janeiro':'verão', 'fevereiro': 'verão'}
for key in meses.keys():
         print ("O mes de {} é no {}".format(key,meses[key]))

O mes de janeiro é no verão
O mes de fevereiro é no verão

In [37]:
mes={'janeiro': 'verao', 'fevereiro': 'verao', 'marco':'outono', 'abril': 'outono','maio': 'outono', 'junho': 'inverno', 
          'julho': 'inverno', 'agosto':'inverno','setembro': 'primavera', 'outubro': 'primavera', 'novembro':'primavera',
    'dezembro': 'verao'}
for key in mes.keys():
         open('Arq_'+key+'_'+mes[key]+'.txt', 'w')
         print ('A minha estação preferida é {}, especialmente o mes {}'.format(key,mes[key]))

A minha estação preferida é janeiro, especialmente o mes verao
A minha estação preferida é fevereiro, especialmente o mes verao
A minha estação preferida é marco, especialmente o mes outono
A minha estação preferida é abril, especialmente o mes outono
A minha estação preferida é maio, especialmente o mes outono
A minha estação preferida é junho, especialmente o mes inverno
A minha estação preferida é julho, especialmente o mes inverno
A minha estação preferida é agosto, especialmente o mes inverno
A minha estação preferida é setembro, especialmente o mes primavera
A minha estação preferida é outubro, especialmente o mes primavera
A minha estação preferida é novembro, especialmente o mes primavera
A minha estação preferida é dezembro, especialmente o mes verao

In [38]:
! ls

Applications		      Desktop	       anaconda
Arq_'+key+'_'+mes[key]+'.txt  Documents        arq.txt
Arq_abril_outono.txt	      Downloads        arq_fevereiro_verão.txt
Arq_agosto_inverno.txt	      Library	       arq_fevereiroverão.txt
Arq_dezembro_verao.txt	      Movies	       arq_janeiro_verão.txt
Arq_fevereiro_verao.txt       Music	       arq_janeiroverão.txt
Arq_janeiro_verao.txt	      Pictures	       arqfevereiro.txt
Arq_julho_inverno.txt	      Public	       arqjaneiro.txt
Arq_junho_inverno.txt	      R-Studio	       bayes.mod
Arq_maio_outono.txt	      Untitled.ipynb   listadealunos
Arq_marco_outono.txt	      Untitled1.ipynb  novo r.RData
Arq_novembro_primavera.txt    Untitled2.ipynb  taina.txt
Arq_outubro_primavera.txt     Untitled3.ipynb
Arq_setembro_primavera.txt    Untitled4.ipynb

## DataFrame

In [103]:
lista1=[31,28,31]
lista2=[32,55,32]
lista3=[45,55,55]
dict=[{'Serie':1,3,4, 'Temporadas':[2,3,4], 'Geração':[3,4,5]}]

SyntaxError: invalid syntax (<ipython-input-103-5f38987e112b>, line 4)

In [99]:
import pandas as pd

In [100]:
df=pd.DataFrame(dict)

In [101]:
df

     Geração      Serie Temporadas
0  [3, 4, 5]  (1, 3, 4)  [2, 3, 4]

## Criar DATAFRAME

In [106]:
df=pd.DataFrame(({ 'A' : [ 'um' , 'um' , 'dois' , 'três' ],'B':[1,2,3,4]}))

In [107]:
df

      A  B
0    um  1
1    um  2
2  dois  3
3  três  4

In [45]:
df.ix[0]

fev        28
janeiro    31
março      31
Name: 0, dtype: int64

- Um exemplo com listas

In [52]:
lista1=['janeiro', 'fevereiro', 'março']
lista2=[31, 28, 31]
data=list(zip(lista1, lista2))
data

[('janeiro', 31), ('fevereiro', 28), ('março', 31)]

In [58]:
list1=list(range(30))
list2=list(range(30,60))
data1=list(zip(list1,list2))

In [46]:
lista1
exm=[('janeiro',31),('fevereiro', 28), ('março', 31)]

In [47]:
DF=pd.DataFrame(exm)