# Introdução ao Python científico com pandas

## Pandas
- Pandas nos permite carregar o dados muito facilmente, explorar as variáveis, e fazer parcelas básicas com matplotlib.
- Este pacote fornece estruturas de dados e funções ricas projetadas para tornar o trabalho dados estruturados rápidos, fáceis e expressivos. E, como você verá, um dos ingredientes críticos permitindo que o Python seja um ambiente de análise de dados poderoso e produtivo.

**1. Bibliotecas**
- Inicialmente iremos importar todas as bibliotecas que serão utilizadas nesta aula.

In [8]:
import matplotlib.pyplot as plt
import pandas as pd 
import matplotlib

**2. Criar dados**
- Para que serve o zip...

In [11]:
L1=[1,2,3]
L2=[4,5,6]
listasoma=[elem[0] + elem[1] for elem in zip(L1,L2) ]

In [12]:
listasoma

[5, 7, 9]

- Solução funcional:

In [5]:
from operator import *
from functools import reduce

In [9]:
list(map(add,L1,L2))

[5, 7, 9]

- Solução via numpy

In [10]:
import numpy as np

In [11]:
np.array(L1)+np.array(L2)

array([5, 7, 9])

- Estamos basicamente criando o conjunto de dados. Agora vamos usar a biblioteca pandas para exportar este conjunto de dados em um arquivo csv.
- **Df** será um objeto **DataFrame**. Você pode pensar neste objeto mantendo o conteúdo do listaindex  em um formato semelhante a uma tabela sql ou uma planilha do Excel. Vamos dar uma olhada abaixo no conteúdo dentro df .

In [18]:
import pandas as pd

In [19]:
dict=[{'char': chr(i), 'num': i } for i in range(48,122)]

In [20]:
df=pd.DataFrame(dict)

In [21]:
df[['char','num']]

   char  num
0     0   48
1     1   49
2     2   50
3     3   51
4     4   52
5     5   53
6     6   54
7     7   55
8     8   56
9     9   57
10    :   58
11    ;   59
12    <   60
13    =   61
14    >   62
15    ?   63
16    @   64
17    A   65
18    B   66
19    C   67
20    D   68
21    E   69
22    F   70
23    G   71
24    H   72
25    I   73
26    J   74
27    K   75
28    L   76
29    M   77
..  ...  ...
44    \   92
45    ]   93
46    ^   94
47    _   95
48    `   96
49    a   97
50    b   98
51    c   99
52    d  100
53    e  101
54    f  102
55    g  103
56    h  104
57    i  105
58    j  106
59    k  107
60    l  108
61    m  109
62    n  110
63    o  111
64    p  112
65    q  113
66    r  114
67    s  115
68    t  116
69    u  117
70    v  118
71    w  119
72    x  120
73    y  121

[74 rows x 2 columns]

**3. Exportar arquivos em csv com pandas**
- Exporte o dataframe para um arquivo csv . Podemos nomear o arquivo dicchar.csv . A função to_csv será usada para exportar o arquivo. O arquivo será salvo no mesmo local do notebook, a menos que especificado de outra forma.

In [23]:
df.to_csv

<bound method DataFrame.to_csv of    char  num
0     0   48
1     1   49
2     2   50
3     3   51
4     4   52
5     5   53
6     6   54
7     7   55
8     8   56
9     9   57
10    :   58
11    ;   59
12    <   60
13    =   61
14    >   62
15    ?   63
16    @   64
17    A   65
18    B   66
19    C   67
20    D   68
21    E   69
22    F   70
23    G   71
24    H   72
25    I   73
26    J   74
27    K   75
28    L   76
29    M   77
..  ...  ...
44    \   92
45    ]   93
46    ^   94
47    _   95
48    `   96
49    a   97
50    b   98
51    c   99
52    d  100
53    e  101
54    f  102
55    g  103
56    h  104
57    i  105
58    j  106
59    k  107
60    l  108
61    m  109
62    n  110
63    o  111
64    p  112
65    q  113
66    r  114
67    s  115
68    t  116
69    u  117
70    v  118
71    w  119
72    x  120
73    y  121

[74 rows x 2 columns]>

In [26]:
  df.to_csv ( 'dicchar.csv' , index = False , header = False )

- Podemos exportar arquivos em em excel ou leitura colocando no **.xls** ou **.txt** no lugar do csv no exemplo a cimA.

**4. Obter dados**

In [51]:
!ls -la > teste.txt

'ls' nÆo ‚ reconhecido como um comando interno
ou externo, um programa oper vel ou um arquivo em lotes.

In [49]:
file=open('teste.txt','r')
data=[]
for line in file:
    data=data+[line.split()]
data=data[1:]

In [36]:
filedict=[{'perm': list[0],  'group': list[1], 'user': list[2], 'usercode': list[3],
           'filesize': list[4],
  'month': list[5], 'day': list[6], 'hour': list[7], 'filename':list[8]} for list in data]
df=pd.DataFrame(filedict)

IndexError: list index out of range

**- Quantos arquivos são escondidos?**

In [9]:
len([filename for filename  in df['filename'] if filename[0]=="."])

6

** - Quantos são diretórios?**

In [10]:
len([perm for perm  in df['perm'] if perm[0]=="-"])

15

**- Qual é o maior arquivo? Qual é o menor?**

In [11]:
(df['filesize'].max(),df['filesize'].min())

('9059', '0')

Ops ....

In [12]:
filedict=[{'perm': list[0],  'group': list[1], 'user': list[2], 'usercode': list[3],
           'filesize': int(list[4]),
  'month': list[5], 'day': list[6], 'hour': list[7], 'filename':list[8]} for list in data]
df=pd.DataFrame(filedict)

In [13]:
maxi,mini=(df['filesize'].max(),df['filesize'].min())

In [14]:
"O maior arquivo possui  {} bytes, o menor {} bytes".format(maxi,mini)

'O maior arquivo possui  2381842 bytes, o menor 0 bytes'

** - Quantos arquivos  são notebooks? **

In [15]:
len([filename for filename  in df['filename'] if filename[-6:]==".ipynb"])

9

## Exercícios
- 1. Crie array que armazene quatro notas de cinco alunos, utilizando método de listas. Em seguida, crie um dataframe dessas notas e salve em modo csv.