In [11]:
L=range (20)
print ("Lista", L)
print ("Elementos Pares: ",L[::2])

('Lista', [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19])
('Elementos Pares: ', [0, 2, 4, 6, 8, 10, 12, 14, 16, 18])

In [2]:
list1=[1,4,8,9]
list2=[0,1,4,7]
print("Aluno A:\nNotas:",list1,"\nMédia: ", sum(list1)/len(list1))
print("Aluno B:\nNotas:",list2,"\nMédia: ", sum(list2)/len(list2))

Aluno A:
Notas: [1, 4, 8, 9]
Média:  5.5
Aluno B:
Notas: [0, 1, 4, 7]
Média:  3.0

In [1]:
age =[]
for i in range(5):
    age.append(int(input("Idade "+str(i+1)+"o. individuo: ")))
print("Idades: ",age)

##altura
height=[]
for i in range(5):
    height.append(float(input("Entre com a altura "+str(i+1)+"do individuo: ")))
print("Altura: ",height)

print("O individuo mais velho tem "+str(max(age))+" anos de idade, e o mais novo "+str(min(age))+" anos")
print("O maior individuo tem "+str(max(height))+"metros, e o menor "+str(min(height))+" metros")

Idade 1o. individuo: 2
Idade 2o. individuo: 4
Idade 3o. individuo: 5
Idade 4o. individuo: 9
Idade 5o. individuo: 30
Idades:  [2, 4, 5, 9, 30]
Entre com a altura 1do individuo: 2
Entre com a altura 2do individuo: 2.1
Entre com a altura 3do individuo: 2.2
Entre com a altura 4do individuo: 2.5
Entre com a altura 5do individuo: 3.2
Altura:  [2.0, 2.1, 2.2, 2.5, 3.2]
O individuo mais velho tem 30 anos de idade, e e o mais novo 2anos
O maior individuo tem 3.2metros, e o menor 2.0 metros

In [3]:
i1=range(10)
i2=range(10)
i3=[]
for i in range (10):
    i3.append(i1[i])
    i3.append(i2[i])
print (i3)

[0, 0, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9]