In [5]:
texto=["Ney Lemke vai passar todo mundo"," todo mundo"]

In [7]:
dict={}
for line in texto:
    for word in line.split():
        print dict
        if word in dict:
            dict[word]=dict[word]+1
        else:
            dict[word]=1

{}
{'Ney': 1}
{'Lemke': 1, 'Ney': 1}
{'vai': 1, 'Lemke': 1, 'Ney': 1}
{'vai': 1, 'Lemke': 1, 'passar': 1, 'Ney': 1}
{'vai': 1, 'todo': 1, 'Lemke': 1, 'passar': 1, 'Ney': 1}
{'vai': 1, 'passar': 1, 'mundo': 1, 'Lemke': 1, 'Ney': 1, 'todo': 1}
{'vai': 1, 'passar': 1, 'mundo': 1, 'Lemke': 1, 'Ney': 1, 'todo': 2}

In [3]:
dict

{'L': 1,
 'N': 1,
 'a': 3,
 'd': 4,
 'e': 3,
 'i': 1,
 'k': 1,
 'm': 3,
 'n': 2,
 'o': 6,
 'p': 1,
 'r': 1,
 's': 2,
 't': 2,
 'u': 2,
 'v': 1,
 'y': 1}

In [9]:
L=["kkk",1,2,3]
L[1:]

[1, 2, 3]

In [0]:
%%writefile notas.txt 
Ney,10, 10

In [14]:
import pandas as pd 
import numpy as np

In [21]:
%%writefile notas.txt
notas,n1,n2,n3
ney,1,2,3
joao,1,3,6
Paulo,4,5,6
Mateus,3,4,5
Lucas,3,4,7

Overwriting notas.txt

In [22]:
file=open("notas.txt",'r')
data=file.readlines()

In [23]:
data[0].strip()

'notas,n1,n2,n3'

In [27]:
datalists=[]
index=[]
for line in data[1:]:
    temp=line.strip().split(",")
    datalists=datalists+[temp[1:]]
    index=index+[temp[0]]
arraypre=np.array(datalists)
array=arraypre.astype(np.float)

In [25]:
array

array([[ 1.,  2.,  3.],
       [ 1.,  3.,  6.],
       [ 4.,  5.,  6.],
       [ 3.,  4.,  5.],
       [ 3.,  4.,  7.]])

In [28]:
index

['ney', 'joao', 'Paulo', 'Mateus', 'Lucas']

In [29]:
df=pd.DataFrame(array)
df.index=index

In [30]:
df

,0,1,2
ney,1.0,2.0,3.0
joao,1.0,3.0,6.0
Paulo,4.0,5.0,6.0
Mateus,3.0,4.0,5.0
Lucas,3.0,4.0,7.0

In [50]:
notas=pd.read_csv("notas.txt")

In [56]:
notas[["n1","n2","n3"]].values

array([[1, 2, 3],
       [1, 3, 6]])