In [7]:
#1
lista1=list(range(0,20))
lista1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [14]:
#2
print(lista1[1::2])

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [31]:
#3.1
print ("Aluno 1")
n1=int(input("entre com a nota 1:"))
n2=int(input("entre com a nota 2:"))
n3=int(input("entre com a nota 3:"))
n4=int(input("entre com a nota 4:"))
media=(n1+n2+n3+n4)/4 
media

Aluno 1
entre com a nota 1:6
entre com a nota 2:6
entre com a nota 3:6
entre com a nota 4:6

6

In [11]:
#3.2
print ("Aluno 2")
n1=int(input("entre com a nota 1:"))
n2=int(input("entre com a nota 2:"))
n3=int(input("entre com a nota 3:"))
n4=int(input("entre com a nota 4:"))
media=(n1+n2+n3+n4)/4 
media

Aluno 2
entre com a nota 1:8
entre com a nota 2:8
entre com a nota 3:8
entre com a nota 4:8

8

In [3]:
#4
print ("Pessoa 1")
id1=int(input("entre com a sua idade"))
h1=int(input("entre com sua altura em cm"))
print ("Pessoa 2")
id2=int(input("entre com a sua idade"))
h2=int(input("entre com sua altura em cm"))
print ("Pessoa 3")
id3=int(input("entre com a sua idade"))
h3=int(input("entre com sua altura em cm"))
print ("Pessoa 4")
id4=int(input("entre com a sua idade"))
h4=int(input("entre com sua altura em cm"))
print ("Pessoa 5")
id5=int(input("entre com a sua idade"))
h5=int(input("entre com sua altura em cm"))
listidade=[id1,id2,id3,id4,id5]
listh=[h1,h2,h3,h4,h5]

print min(listidade)
print max(listidade)
print min(listh)
print max(listh)

Pessoa 1
entre com a sua idade50
entre com sua altura em cm120
Pessoa 2
entre com a sua idade60
entre com sua altura em cm130
Pessoa 3
entre com a sua idade80
entre com sua altura em cm100
Pessoa 4
entre com a sua idade15
entre com sua altura em cm180
Pessoa 5
entre com a sua idade12
entre com sua altura em cm100
12
80
100
180

In [9]:
#5
lista1=list(range(0,10))
lista2=list(range(11,21))
lista1
lista2
listajuntas=zip(lista1, lista2)
listajuntas

[(0, 11),
 (1, 12),
 (2, 13),
 (3, 14),
 (4, 15),
 (5, 16),
 (6, 17),
 (7, 18),
 (8, 19),
 (9, 20)]

In [16]:
#6
lista1=[1.25, 2.14, 3.47,4.60, 5.59, 7.49, 8.17, 9.35, 10.45]
for i in range(len(lista1)-1):
    print(lista1[i+1]-lista1[i])

0.89
1.33
1.13
0.99
1.9
0.68
1.18
1.1