# Prova Final de Física Computacional
## Nome do Arquivo: provaLUCAS_PORTES_LIMA.ipynb

## Questão 1
Gere uma Lista contendo os primeiros 44 números pares.
Calcule sua soma.

## Questão 2
Abra o arquivo `jogadores.csv` e responda apresentando um código que:

- Leia o arquivo e transforme em um DataFrame pandas. 
- Conte o número de colunas.
- Quais jogadores nasceram antes de 1995?

## Questão 3
Gere um gráfico do peso e altura dos jogadores. Os eixos devem conter 
as quantidades que estão sendo representados e o título deve conter o nome do Aluno. 
O tamanho dos pontos deve representar a idade dos jogadores. A cor deve ser verde e
as marcas devem ser círculos.

In [10]:
##Questão 1 Gere uma Lista contendo os primeiros 44 números pares.Calcule sua soma.
v=[]
for i in range (1,90):
    if i%2==0:
        v.append(i)
sum(v)    
print len(v)

print ("Os primeiros 44 numeros pares são:" +str([v]))
print ("A soma de todos os primeiros 44 pares é igual a "+str(sum(v)))

44
Os primeiros 44 numeros pares são:[[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88]]
A soma de todos os primeiros 44 pares é igual a 1980

In [49]:
## Questão 2 Abra o arquivo `jogadores.csv` e responda apresentando um código que:

#- Leia o arquivo e transforme em um DataFrame pandas.
#- Conte o número de colunas.
#- Quais jogadores nasceram antes de 1995?
import pandas as pd

jog = open('jogadores.csv', 'r')
goj = pd.read_csv(jog)
print (goj)
print ("O numero de coluna do DataFrame é: "+str(goj.shape[1]))
idade = '1995-01-01'

goj[goj['Data Nascimento'] < idade]

               Nome      Sobrenome  Altura  Peso Data Nascimento
0              Kolo          TOURÉ   178.0  74.0      1981-03-19
1          Philippe       SENDEROS   190.0  84.0      1985-02-14
2          Emmanuel          EBOUÉ   178.0  72.0      1983-06-04
3            Justin          HOYTE   180.0  67.0      1984-11-20
4              Gaël         CLICHY   181.0  72.0      1985-07-26
5            Ashley           COLE   176.0  66.0      1980-12-20
6             Johan        DJOUROU   191.0  87.0      1987-01-18
7           Patrick          CREGG   175.0  65.0      1986-02-21
8         Sebastian        LARSSON   178.0  70.0      1985-06-06
9              Cesc       FÀBREGAS   175.0  74.0      1987-05-04
10          Mathieu        FLAMINI   178.0  67.0      1984-03-07
11        Aleksandr           HLEB   178.0  69.0      1981-05-01
12            Robin     VAN PERSIE   183.0  71.0      1983-08-06
13     José Antonio          REYES   176.0  76.0      1983-09-01
14           Quincy   OWUSU-ABEYIE   180.0  74.0      1986-04-15
15           Arturo         LUPOLI   175.0  66.0      1987-06-24
16           Stuart         TAYLOR   196.0  86.0      1980-11-28
17           Thomas       SORENSEN   195.0  89.0      1976-06-12
18             Liam      RIDGEWELL   188.0  78.0      1984-07-21
19           Jlloyd         SAMUEL   180.0  71.0      1981-03-29
20             Gary         CAHILL   193.0  86.0      1985-12-19
21            Aaron         HUGHES   183.0  78.0      1979-11-08
22            Peter    WHITTINGHAM   178.0  63.0      1984-09-08
23           Gareth          BARRY   183.0  78.0      1981-02-23
24             Eric  DJEMBA-DJEMBA   180.0  78.0      1981-05-04
25           Steven          DAVIS   172.0  72.0      1985-01-01
26             Luke          MOORE   180.0  76.0      1986-02-13
27            Scott       FLINDERS   193.0  88.0      1986-06-12
28             Ross       TURNBULL   193.0  85.0      1985-01-04
29             Neil         AUSTIN   177.0  74.0      1983-04-26
...             ...            ...     ...   ...             ...
70351        Michal          TOMIĆ   176.0  67.0      1999-03-30
70352       Alberto       REINAUDO   187.0  73.0      1998-03-22
70353    Alessandro     BUONGIORNO   191.0  80.0      1999-06-06
70354        Matteo       ROSSETTI   178.0  74.0      1998-07-23
70355       Filippo        BERARDI   174.0  65.0      1997-05-18
70356      Anderson          LÓPEZ   178.0  73.0      1999-01-25
70357         Zinho     VANHEUSDEN   187.0  80.0      1999-07-29
70358         Marco        CARRARO   178.0  74.0      1998-01-09
70359       Michele     CEROFOLINI   188.0  80.0      1999-01-04
70360        Simone       GHIDOTTI   185.0  73.0      2000-03-19
70361      Riccardo         BARONI   183.0  75.0      1998-09-19
70362     Francisco       FERREIRA   188.0  76.0      1997-03-26
70363      Noussair       MAZRAOUI   178.0  74.0      1997-11-14
70364         Fabio        MAISTRO   178.0  74.0      1998-04-05
70365        Thomas         REIMÃO   177.0  72.0      1998-07-14
70366          Enzo         EBOSSE   185.0  75.0      1999-03-11
70367       Giorgio         ALTARE   188.0  75.0      1998-08-09
70368          Myer          BEVAN   184.0  75.0      1997-04-23
70369      Riccardo          GATTI   185.0  75.0      1997-03-30
70370           Rui          COSTA   179.0  73.0      1996-02-20
70371         Denis          PETRO   191.0  75.0      1999-06-18
70372       Giorgio    SPIZZICHINO   175.0  70.0      1999-08-10
70373        Cassio     CARDOSELLI   178.0  74.0      1998-07-26
70374          Duje       JAVORCIĆ   183.0  75.0      1999-11-25
70375       Michael     FOLORUNSHO   178.0  74.0      1998-02-07
70376        Abukar        MOHAMED   186.0  77.0      1999-01-01
70377         Marco       MILANESE   185.0  73.0      1998-07-31
70378         David         COLINA   165.0  58.0      2000-07-19
70379        Andrea      ROMAGNOLI   187.0  75.0      1998-07-29
70380         Ethan         AMPADU   175.0  70.0      2000-09-14

[70381 rows x 5 columns]
O numero de coluna do DataFrame é: 5

,Nome,Sobrenome,Altura,Peso,Data Nascimento
0,Kolo,TOURÉ,178.0,74.0,1981-03-19
1,Philippe,SENDEROS,190.0,84.0,1985-02-14
2,Emmanuel,EBOUÉ,178.0,72.0,1983-06-04
3,Justin,HOYTE,180.0,67.0,1984-11-20
4,Gaël,CLICHY,181.0,72.0,1985-07-26
5,Ashley,COLE,176.0,66.0,1980-12-20
6,Johan,DJOUROU,191.0,87.0,1987-01-18
7,Patrick,CREGG,175.0,65.0,1986-02-21
8,Sebastian,LARSSON,178.0,70.0,1985-06-06
9,Cesc,FÀBREGAS,175.0,74.0,1987-05-04
10,Mathieu,FLAMINI,178.0,67.0,1984-03-07
11,Aleksandr,HLEB,178.0,69.0,1981-05-01
12,Robin,VAN PERSIE,183.0,71.0,1983-08-06
13,José Antonio,REYES,176.0,76.0,1983-09-01
14,Quincy,OWUSU-ABEYIE,180.0,74.0,1986-04-15
15,Arturo,LUPOLI,175.0,66.0,1987-06-24
16,Stuart,TAYLOR,196.0,86.0,1980-11-28
17,Thomas,SORENSEN,195.0,89.0,1976-06-12
18,Liam,RIDGEWELL,188.0,78.0,1984-07-21
19,Jlloyd,SAMUEL,180.0,71.0,1981-03-29
20,Gary,CAHILL,193.0,86.0,1985-12-19
21,Aaron,HUGHES,183.0,78.0,1979-11-08
22,Peter,WHITTINGHAM,178.0,63.0,1984-09-08
23,Gareth,BARRY,183.0,78.0,1981-02-23
24,Eric,DJEMBA-DJEMBA,180.0,78.0,1981-05-04
25,Steven,DAVIS,172.0,72.0,1985-01-01
26,Luke,MOORE,180.0,76.0,1986-02-13
27,Scott,FLINDERS,193.0,88.0,1986-06-12
28,Ross,TURNBULL,193.0,85.0,1985-01-04
29,Neil,AUSTIN,177.0,74.0,1983-04-26
...,...,...,...,...,...
70173,Marcus,MLYNIKOWSKI,180.0,67.0,1992-07-06
70177,Julio César,PÉREZ,182.0,73.0,1991-10-24
70183,Angelo,CAVALLUZZO,178.0,68.0,1993-01-03
70184,Kyle,RENFRO,185.0,84.0,1991-04-30
70185,Kadeem,DACRES,175.0,72.0,1991-08-25
70186,Paul,NICHOLSON,178.0,83.0,1986-08-10
70207,Emmanuel,DEBORDEAUX,176.0,70.0,1993-03-22
70210,Juan Pablo,APONTE,172.0,74.0,1992-05-18
70211,Tim,DOBROWOLSKI,188.0,89.0,1993-09-07
70212,Matt,CARDONE,191.0,98.0,1993-06-18
70220,Hamidou,KEYTA,180.0,70.0,1994-12-17
70227,Julio,SALAS,171.0,70.0,1994-08-18
70228,Callum,IRVING,183.0,88.0,1993-03-16
70231,Žiga,ŠKOFLEK,184.0,79.0,1994-07-22
70244,Denis,BEJARANO,176.0,81.0,1992-08-03
70245,Rodrigo,RIVERA,174.0,69.0,1992-08-16
70264,Jhon Steven,MONDRAGÓN,180.0,72.0,1994-10-15
70270,Eric,CURBELO,187.0,75.0,1994-01-14
70273,Eugeni,VALDERRAMA,182.0,73.0,1994-07-19
70276,Josué,DORRIO,170.0,68.0,1994-03-03
70280,Rafa,MUÑOZ,181.0,67.0,1994-06-19
70321,José,VARGAS,182.0,80.0,1991-11-07
70323,Miguel,LEMUS,167.0,64.0,1993-10-26
70324,Wilson,PINEDA,170.0,68.0,1993-09-25
70325,Juan,CARDONA,172.0,69.0,1993-04-04
70326,David,GRECZEK,188.0,84.0,1994-10-29
70327,Keasel,BROOME,183.0,86.0,1991-09-18
70328,Antonio,CORREIA,180.0,74.0,1993-11-01
70329,Ryan,FELIX,193.0,84.0,1993-06-21
70335,Borja,ANGOITIA,188.0,84.0,1992-04-23

In [1]:
## Questão 3
#Gere um gráfico do peso e altura dos jogadores. Os eixos devem conter as quantidades que estão sendo representados e o título deve conter o nome do Aluno.
#O tamanho dos pontos deve representar a idade dos jogadores. A cor deve ser verde e as marcas devem ser círculos.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
    
jog = open('jogadores.csv', 'r')
goj = pd.read_csv(jog)

fig = plt.figure(figsize=(8,8))

ax = fig.gca()
goj.plot(kind ='scatter', x="Peso", y = "Altura", ax=ax, color ='green')
ax.set_title("zero")
ax.set_xlabel("Peso")
ax.set_ylabel("Altura")

IOError: [Errno 2] No such file or directory: 'jogadores.csv'