In [9]:
L=list(range(20))
print (L)
[elem for elem in L if elem%2==0]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [12]:
AlunoIsabella=[10,9,9.5,5]
mediaalunoi=sum(AlunoIsabella)/4
print ("aluno1:", mediaalunoi)
AlunoAlexandre=[3,2,5,9]
mediaalunoa=sum(AlunoAlexandre)/4
print ("aluno2:", mediaalunoa)

aluno1: 8.375
aluno2: 4.75

In [ ]:
idade=[]
altura=[]

idade1=input("Insira a idade da primeira pessoa:")
idade2=input("Insira a idade da segunda pessoa:")
idade3=input("Insira a idade da terceira pessoa:")
idade4=input("Insira a idade da quarta pessoa:")
idade5=input("Insira a idade da quinta pessoa:")

altura1=input("Insira a altura em cm da primeira pessoa:")
altura2=input("Insira a altura em cm da segunda pessoa:")
altura3=input("Insira a altura em cm da terceira pessoa:")
altura4=input("Insira a altura em cm da quarta pessoa:")
altura5=input("Insira a altura em cm da quinta pessoa:")

idade.append(idade1)
idade.append(idade2)
idade.append(idade3)
idade.append(idade4)
idade.append(idade5)

altura.append(altura1)
altura.append(altura2)
altura.append(altura3)
altura.append(altura4)
altura.append(altura5)

altmax=max(altura)
altmin=min(altura)
idademax=max(idade)
idademin=min(idade)
print("Maximo das idades:", idademax)
print("Maximo das alturas:", altmax)
print("Minima das alturas:", altmin)
print("Minima das idade:", idademin)

Insira a idade da primeira pessoa:21
Insira a idade da segunda pessoa:22
Insira a idade da terceira pessoa:43
Insira a idade da quarta pessoa:21
Insira a idade da quinta pessoa:12