#  Manipulação de Arquivos e dados em Python



**2. DataFrames**

- São generalizações de Séries, onde temos uma lista de séries concatenadas.

 Estamos basicamente criando o conjunto de dados. Agora vamos usar a biblioteca pandas para exportar este conjunto de dados em um arquivo csv.
- **df** será um objeto **DataFrame**. Você pode pensar neste objeto mantendo o conteúdo do listaindex  em um formato semelhante a uma tabela sql ou uma planilha do Excel. Vamos dar uma olhada abaixo no conteúdo dentro df .

In [4]:
import pandas as pd

## Criando DataFrames

In [67]:
dict=[{'char': chr(i), 'num': i } for i in range(48,122)]

In [0]:
[{"nome": "serie1", hghg: }
 ,{"nome"}]

In [68]:
chr(60)

'<'

In [70]:
df=pd.DataFrame(dict)

In [71]:
df

,char,num
0,0,48
1,1,49
2,2,50
3,3,51
4,4,52
5,5,53
6,6,54
7,7,55
8,8,56
9,9,57
10,:,58
11,;,59
12,<,60
13,=,61
14,>,62
15,?,63
16,@,64
17,A,65
18,B,66
19,C,67
20,D,68
21,E,69
22,F,70
23,G,71
24,H,72
25,I,73
26,J,74
27,K,75
28,L,76
29,M,77
...,...,...
44,\,92
45,],93
46,^,94
47,_,95
48,`,96
49,a,97
50,b,98
51,c,99
52,d,100
53,e,101
54,f,102
55,g,103
56,h,104
57,i,105
58,j,106
59,k,107
60,l,108
61,m,109
62,n,110
63,o,111
64,p,112
65,q,113
66,r,114
67,s,115
68,t,116
69,u,117
70,v,118
71,w,119
72,x,120
73,y,121

In [72]:
df[['char','num']]

,char,num
0,0,48
1,1,49
2,2,50
3,3,51
4,4,52
5,5,53
6,6,54
7,7,55
8,8,56
9,9,57
10,:,58
11,;,59
12,<,60
13,=,61
14,>,62
15,?,63
16,@,64
17,A,65
18,B,66
19,C,67
20,D,68
21,E,69
22,F,70
23,G,71
24,H,72
25,I,73
26,J,74
27,K,75
28,L,76
29,M,77
...,...,...
44,\,92
45,],93
46,^,94
47,_,95
48,`,96
49,a,97
50,b,98
51,c,99
52,d,100
53,e,101
54,f,102
55,g,103
56,h,104
57,i,105
58,j,106
59,k,107
60,l,108
61,m,109
62,n,110
63,o,111
64,p,112
65,q,113
66,r,114
67,s,115
68,t,116
69,u,117
70,v,118
71,w,119
72,x,120
73,y,121

Para criar uma nova coluna de dados é fácil.

In [74]:
df['binario']=df['num'].apply(bin)

`apply` nesse caso aplica uma função em cada elemento da série.

In [78]:
df[['num','binario']]

Para acessar os dados pelo índice.

In [79]:
df.ix[2]

char              2
num              50
binario    0b110010
Name: 2, dtype: object

**3. Exportar arquivos em csv com pandas**
- Exporte o dataframe para um arquivo csv . Podemos nomear o arquivo dicchar.csv . A função to_csv será usada para exportar o arquivo. O arquivo será salvo no mesmo local do notebook, a menos que especificado de outra forma.

In [84]:
df.to_csv ( 'dicchar.csv' , index = False , header = True)

In [85]:
!more dicchar.csv

char,num,binario
0,48,0b110000
1,49,0b110001
2,50,0b110010
3,51,0b110011
4,52,0b110100
5,53,0b110101
6,54,0b110110
7,55,0b110111
8,56,0b111000
9,57,0b111001
:,58,0b111010
;,59,0b111011
<,60,0b111100
=,61,0b111101
>,62,0b111110
?,63,0b111111
@,64,0b1000000
A,65,0b1000001
B,66,0b1000010
C,67,0b1000011
D,68,0b1000100
E,69,0b1000101

- Podemos exportar arquivos em em excel ou leitura colocando no **.xls** ou **.txt** no lugar do csv no exemplo a cima.

**4. Obter dados**

In [1]:
!ls -la > teste.txt

In [6]:
file=open('teste.txt','r')
data=[]
for line in file:
    data=data+[line.split()]
data=data[1:]

In [7]:
data[0]

['drwxr-x---',
 '4',
 'da4b09c773a74027ac2d5fed6d409acf',
 'da4b09c773a74027ac2d5fed6d409acf',
 '4096',
 'May',
 '7',
 '12:21',
 '.']

In [8]:
filedict=[{'perm': list[0],  'group': list[1], 'user': list[2], 'usercode': list[3],
           'filesize': list[4],
  'month': list[5], 'day': list[6], 'hour': list[7], 'filename':list[8]} for list in data]
df=pd.DataFrame(filedict)
df

,day,filename,filesize,group,hour,month,perm,user,usercode
0,7,.,4096,4,12:21,May,drwxr-x---,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
1,7,..,4096,24,10:16,May,drwx------,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
2,24,2017-04-24-140938.ipynb,10949,1,19:04,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
3,24,.2017-04-24-140938.ipynb.sage-jupyter,8972,1,18:58,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
4,23,.Analisedados.ipynb.sage-jupyter,7131,1,16:59,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
5,24,arq_abr_outuno.txt,406,1,18:53,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
6,24,arq_ago_inverno.txt,1121,1,18:53,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
7,24,arq_dez_primavera.txt,1220,1,18:53,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
8,24,arq_fev_verao.txt,684,1,18:53,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
9,24,arq_jan_verao.txt,1368,1,18:53,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
10,24,arq_jul_inverno.txt,885,1,18:53,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
11,24,arq_jun_outuno.txt,1276,1,18:53,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
12,24,arq_mai_outuno.txt,1102,1,18:53,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
13,24,arq_mar_verao.txt,342,1,18:53,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
14,24,arq_nov_primavera.txt,1586,1,18:53,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
15,24,arq_out_primavera.txt,610,1,18:53,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
16,24,arq_set_primavera.txt,610,1,18:53,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
17,24,.Aula21.04.2017.ipynb.sage-jupyter,19129,1,00:13,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
18,23,.Aula24.03.2017.ipynb.sage-jupyter,17908,1,17:38,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
19,5,Aula24.04.2017.ipynb,234990,1,16:34,May,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
20,28,.Aula24.04.2017.ipynb.sage-jupyter,33113,1,16:24,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
21,7,.Aula24.04.2017.ipynb.sage-jupyter2,0,1,12:21,May,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
22,22,cookbook-data,4096,4,01:09,Apr,drwxr-x---,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
23,24,dicchar.csv,1133,1,18:14,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
24,24,file.zip,571,1,17:55,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
25,3,.ipynb_checkpoints,4096,2,01:08,May,drwxr-x---,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
26,24,matriznum2.csv,74,1,17:22,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
27,24,matriznum.csv,74,1,17:21,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
28,3,.Notas.ipynb.sage-jupyter,13914,1,01:08,May,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
29,6,.Notas.ipynb.sage-jupyter2,38,1,13:37,May,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
30,27,python.dados.pandas.ipynb,181342,1,12:51,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
31,23,.python.dados.pandas.ipynb.sage-jupyter,19127,1,19:48,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
32,3,.Tabelas.ipynb.sage-jupyter,26048,1,17:01,May,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
33,24,test.append.dat,24,1,16:57,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
34,24,test.dat,40,1,17:37,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
35,7,teste.txt,0,1,12:23,May,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
36,24,texto.txt,219,1,17:21,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf

**- Quantos arquivos são escondidos?**

In [9]:
!ls -la

total 688
drwxr-x---  4 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf   4096 May  7 12:21 .
drwx------ 24 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf   4096 May  7 10:16 ..
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf  10949 Apr 24 19:04 2017-04-24-140938.ipynb
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf   8972 Apr 24 18:58 .2017-04-24-140938.ipynb.sage-jupyter
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf   7131 Apr 23 16:59 .Analisedados.ipynb.sage-jupyter
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf    406 Apr 24 18:53 arq_abr_outuno.txt
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf   1121 Apr 24 18:53 arq_ago_inverno.txt
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf   1220 Apr 24 18:53 arq_dez_primavera.txt
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf    684 Apr 24 18:53 arq_fev_verao.txt
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf   1368 Apr 24 18:53 arq_jan_verao.txt
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf    885 Apr 24 18:53 arq_jul_inverno.txt
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf   1276 Apr 24 18:53 arq_jun_outuno.txt
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf   1102 Apr 24 18:53 arq_mai_outuno.txt
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf    342 Apr 24 18:53 arq_mar_verao.txt
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf   1586 Apr 24 18:53 arq_nov_primavera.txt
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf    610 Apr 24 18:53 arq_out_primavera.txt
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf    610 Apr 24 18:53 arq_set_primavera.txt
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf  19129 Apr 24 00:13 .Aula21.04.2017.ipynb.sage-jupyter
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf  17908 Apr 23 17:38 .Aula24.03.2017.ipynb.sage-jupyter
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf 234990 May  5 16:34 Aula24.04.2017.ipynb
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf  33113 Apr 28 16:24 .Aula24.04.2017.ipynb.sage-jupyter
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf      0 May  7 12:21 .Aula24.04.2017.ipynb.sage-jupyter2
drwxr-x---  4 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf   4096 Apr 22 01:09 cookbook-data
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf   1133 Apr 24 18:14 dicchar.csv
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf    571 Apr 24 17:55 file.zip
drwxr-x---  2 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf   4096 May  3 01:08 .ipynb_checkpoints
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf     74 Apr 24 17:22 matriznum2.csv
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf     74 Apr 24 17:21 matriznum.csv
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf  13914 May  3 01:08 .Notas.ipynb.sage-jupyter
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf     38 May  6 13:37 .Notas.ipynb.sage-jupyter2
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf 181342 Apr 27 12:51 python.dados.pandas.ipynb
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf  19127 Apr 23 19:48 .python.dados.pandas.ipynb.sage-jupyter
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf  26048 May  3 17:01 .Tabelas.ipynb.sage-jupyter
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf     24 Apr 24 16:57 test.append.dat
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf     40 Apr 24 17:37 test.dat
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf   4486 May  7 12:23 teste.txt
-rw-r-----  1 da4b09c773a74027ac2d5fed6d409acf da4b09c773a74027ac2d5fed6d409acf    219 Apr 24 17:21 texto.txt

In [10]:
df['filename']

0                                           .
1                                          ..
2                     2017-04-24-140938.ipynb
3       .2017-04-24-140938.ipynb.sage-jupyter
4            .Analisedados.ipynb.sage-jupyter
5                          arq_abr_outuno.txt
6                         arq_ago_inverno.txt
7                       arq_dez_primavera.txt
8                           arq_fev_verao.txt
9                           arq_jan_verao.txt
10                        arq_jul_inverno.txt
11                         arq_jun_outuno.txt
12                         arq_mai_outuno.txt
13                          arq_mar_verao.txt
14                      arq_nov_primavera.txt
15                      arq_out_primavera.txt
16                      arq_set_primavera.txt
17         .Aula21.04.2017.ipynb.sage-jupyter
18         .Aula24.03.2017.ipynb.sage-jupyter
19                       Aula24.04.2017.ipynb
20         .Aula24.04.2017.ipynb.sage-jupyter
21        .Aula24.04.2017.ipynb.sage-jupyter2
22                              cookbook-data
23                                dicchar.csv
24                                   file.zip
25                         .ipynb_checkpoints
26                             matriznum2.csv
27                              matriznum.csv
28                  .Notas.ipynb.sage-jupyter
29                 .Notas.ipynb.sage-jupyter2
30                  python.dados.pandas.ipynb
31    .python.dados.pandas.ipynb.sage-jupyter
32                .Tabelas.ipynb.sage-jupyter
33                            test.append.dat
34                                   test.dat
35                                  teste.txt
36                                  texto.txt
Name: filename, dtype: object

In [11]:
len([filename for filename  in df['filename'] if filename[0]=="."])

13

** - Quantos não são diretórios?**

In [12]:
df['perm']

0     drwxr-x---
1     drwx------
2     -rw-r-----
3     -rw-r-----
4     -rw-r-----
5     -rw-r-----
6     -rw-r-----
7     -rw-r-----
8     -rw-r-----
9     -rw-r-----
10    -rw-r-----
11    -rw-r-----
12    -rw-r-----
13    -rw-r-----
14    -rw-r-----
15    -rw-r-----
16    -rw-r-----
17    -rw-r-----
18    -rw-r-----
19    -rw-r-----
20    -rw-r-----
21    -rw-r-----
22    drwxr-x---
23    -rw-r-----
24    -rw-r-----
25    drwxr-x---
26    -rw-r-----
27    -rw-r-----
28    -rw-r-----
29    -rw-r-----
30    -rw-r-----
31    -rw-r-----
32    -rw-r-----
33    -rw-r-----
34    -rw-r-----
35    -rw-r-----
36    -rw-r-----
Name: perm, dtype: object

In [13]:
len([perm for perm  in df['perm'] if perm[0]=="-"])

33

**- Qual é o maior arquivo? Qual é o menor?**

In [14]:
df['filesize']

0       4096
1       4096
2      10949
3       8972
4       7131
5        406
6       1121
7       1220
8        684
9       1368
10       885
11      1276
12      1102
13       342
14      1586
15       610
16       610
17     19129
18     17908
19    234990
20     33113
21         0
22      4096
23      1133
24       571
25      4096
26        74
27        74
28     13914
29        38
30    181342
31     19127
32     26048
33        24
34        40
35         0
36       219
Name: filesize, dtype: object

In [15]:
(df['filesize'].max(),df['filesize'].min())

('8972', '0')

Ops ...

In [16]:
filedict=[{'perm': list[0],  'group': list[1], 'user': list[2], 'usercode': list[3],
           'filesize': int(list[4]),
  'month': list[5], 'day': list[6], 'hour': list[7], 'filename':list[8]} for list in data]
df=pd.DataFrame(filedict)

maxi,mini=(df['filesize'].max(),df['filesize'].min())

In [17]:
"O maior arquivo possui  {} bytes, o menor {} bytes".format(maxi,mini)

'O maior arquivo possui  234990 bytes, o menor 0 bytes'

** - Quantos arquivos  são notebooks? **

In [18]:
len([filename for filename  in df['filename'] if filename[-6:]==".ipynb"])

3

In [19]:
df

,day,filename,filesize,group,hour,month,perm,user,usercode
0,7,.,4096,4,12:21,May,drwxr-x---,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
1,7,..,4096,24,10:16,May,drwx------,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
2,24,2017-04-24-140938.ipynb,10949,1,19:04,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
3,24,.2017-04-24-140938.ipynb.sage-jupyter,8972,1,18:58,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
4,23,.Analisedados.ipynb.sage-jupyter,7131,1,16:59,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
5,24,arq_abr_outuno.txt,406,1,18:53,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
6,24,arq_ago_inverno.txt,1121,1,18:53,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
7,24,arq_dez_primavera.txt,1220,1,18:53,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
8,24,arq_fev_verao.txt,684,1,18:53,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
9,24,arq_jan_verao.txt,1368,1,18:53,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
10,24,arq_jul_inverno.txt,885,1,18:53,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
11,24,arq_jun_outuno.txt,1276,1,18:53,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
12,24,arq_mai_outuno.txt,1102,1,18:53,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
13,24,arq_mar_verao.txt,342,1,18:53,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
14,24,arq_nov_primavera.txt,1586,1,18:53,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
15,24,arq_out_primavera.txt,610,1,18:53,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
16,24,arq_set_primavera.txt,610,1,18:53,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
17,24,.Aula21.04.2017.ipynb.sage-jupyter,19129,1,00:13,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
18,23,.Aula24.03.2017.ipynb.sage-jupyter,17908,1,17:38,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
19,5,Aula24.04.2017.ipynb,234990,1,16:34,May,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
20,28,.Aula24.04.2017.ipynb.sage-jupyter,33113,1,16:24,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
21,7,.Aula24.04.2017.ipynb.sage-jupyter2,0,1,12:21,May,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
22,22,cookbook-data,4096,4,01:09,Apr,drwxr-x---,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
23,24,dicchar.csv,1133,1,18:14,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
24,24,file.zip,571,1,17:55,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
25,3,.ipynb_checkpoints,4096,2,01:08,May,drwxr-x---,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
26,24,matriznum2.csv,74,1,17:22,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
27,24,matriznum.csv,74,1,17:21,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
28,3,.Notas.ipynb.sage-jupyter,13914,1,01:08,May,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
29,6,.Notas.ipynb.sage-jupyter2,38,1,13:37,May,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
30,27,python.dados.pandas.ipynb,181342,1,12:51,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
31,23,.python.dados.pandas.ipynb.sage-jupyter,19127,1,19:48,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
32,3,.Tabelas.ipynb.sage-jupyter,26048,1,17:01,May,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
33,24,test.append.dat,24,1,16:57,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
34,24,test.dat,40,1,17:37,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
35,7,teste.txt,0,1,12:23,May,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf
36,24,texto.txt,219,1,17:21,Apr,-rw-r-----,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf

In [20]:
(df['day'].min())

'22'

In [21]:
df[df['day']=='22']

,day,filename,filesize,group,hour,month,perm,user,usercode
22,22,cookbook-data,4096,4,01:09,Apr,drwxr-x---,da4b09c773a74027ac2d5fed6d409acf,da4b09c773a74027ac2d5fed6d409acf

In [22]:
df.ix[2]

day                                       24
filename             2017-04-24-140938.ipynb
filesize                               10949
group                                      1
hour                                   19:04
month                                    Apr
perm                              -rw-r-----
user        da4b09c773a74027ac2d5fed6d409acf
usercode    da4b09c773a74027ac2d5fed6d409acf
Name: 2, dtype: object

## Exercícios

1. Quando foi criado o primeiro arquivo?
2. Quantos arquivos podem ser apenas editadados pelo proprietário?

## Datas

### Trabalhar com datas 
O módulo datetime possui dentro de si uma classe date definida. Nessa classe, existem alguns métodos para manipulação de datas, como a função today, que retorna um objeto do tipo `datetime.date`

In [1]:
from datetime import date, timedelta,datetime

In [4]:
hj=date.today()
print(hj)

2017-05-08

Um comando útil para ordenar datas é:

In [5]:
print(hj.toordinal())

736457

### Trabalhar com  Tempos

Para instantes do tempo, temos  que trabalhar com a classe `datetime`.

In [6]:
agora=datetime.now()
agora.timestamp()

1494264479.724102

In [7]:
agora

datetime.datetime(2017, 5, 8, 17, 27, 59, 724102)

Para descobrir uma data no futuro.

In [8]:
futuro=hj+timedelta(days=45) # hoje + 45 dias
print(futuro)

2017-06-22

Para descobrir um dia da semana:

In [152]:
dias = ('Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado', 'Domingo')
print ("Hoje é", dias[hj.weekday()])

Hoje é Domingo

In [153]:
"Faltam {} dias para o meu aniversário. E ele vai cair em uma  {}".format((niver-hj).days  ,dias[niver.weekday()])

'Faltam 137 dias para o meu aniversário. E ele vai cair em uma  Quinta-feira'

## Impressão de Datas

Para descobrir as datas das próximas aulas de Física Computracional

In [154]:
aula=date(2017,5,8)
lisdatas=[aula+timedelta(weeks=delay)  for delay in range(1,9) ]

Interessante mas difícil de ler. Para esses e muitas outras coisas é que temos 
o comando `strftime`.

In [155]:
datetime.strftime(lisdatas[0], "%d/%m/%y")

'15/05/17'

O segundo argumento é misterioso mas ele indica o formato que será impressa a data. Nesse
caso dia/mes/ano.

In [156]:

lisdatas=[datetime.strftime(aula+timedelta(weeks=delay), "%d/%m/%y")  for delay in range(0,9) ]
lisdatas

['08/05/17',
 '15/05/17',
 '22/05/17',
 '29/05/17',
 '05/06/17',
 '12/06/17',
 '19/06/17',
 '26/06/17',
 '03/07/17']

A tabela abaixo mostra as opções para formatação. 

| Directive | 	Meaning | 	Example |
|------------------------------------
| %a| 	Weekday as locale’s abbreviated name | Sun, Mon, ..., Sat (en_US)|  So, Mo, ..., Sa (de_DE)  |
| %A| 	Weekday as locale’s full name.	| Sunday, Monday, ..., Saturday (en_US);| Sonntag, Montag, ..., Samstag (de_DE)|
| %w| 	Weekday as a decimal number, where 0 is Sunday and 6 is Saturday.|	0, 1, ..., 6	 |
| %d|	Day of the month as a zero-padded decimal number..|	01, 02, ..., 31	 |
| %b|	Month as locale’s abbreviated name.	 Jan, Feb, ..., Dec (en_US);| Jan, Feb, ..., Dez (de_DE)|
| %B|	Month as locale’s full name.|	 January, February, ..., December (en_US); Januar, Februar, ..., Dezember (de_DE)|
| %m|	Month as a zero-padded decimal number.|	01, 02, ..., 12	  %y	Year without century as a zero-padded decimal number.	00, 01, ..., 99	 | %Y|	Year with century as a decimal number.|	0001, 0002, ..., 2013, 2014, ..., 9998, 9999	(2) %H	Hour (24-hour clock) as a zero-padded decimal number.|	00, 01, ..., 23	 |
| %I|	Hour (12-hour clock) as a zero-padded decimal number.|	01, 02, ..., 12	  %p	Locale’s equivalent of either AM or PM.	 AM, PM (en_US); am, pm (de_DE)|
| %M|	Minute as a zero-padded decimal number.|	00, 01, ..., 59	 |
| %S|	Second as a zero-padded decimal number.|	00, 01, ..., 59	|
| %f|	Microsecond as a decimal number, zero-padded on the left.|	000000, 000001, ..., 999999	|
| %z|	UTC offset in the form +HHMM or -HHMM (empty string if the object is naive).	(empty),| +0000, -0400, +1030|
| %Z|	Time zone name (empty string if the object is naive).	(empty),| UTC, EST, CST	 |
| %j|	Day of the year as a zero-padded decimal number.|	001, 002, ..., 366	 |
| %U|	Week number of the year (Sunday as the first day of the week) as a zero padded decimal number. All days in a new year preceding the first Sunday are considered to be in week 0.|	00, 01, ..., 53	|
| %W|	Week number of the year (Monday as the first day of the week) as a decimal number. All days in a new year preceding the first Monday are considered to be in week 0.|	00, 01, ..., 53	|
| %c|	Locale’s appropriate date and time representation.|	 Tue Aug 16 21:30:00 1988 (en_US); Di 16 Aug 21:30:00 1988 (de_DE)|
| %x|	Locale’s appropriate date representation.|	 08/16/88 (None); 08/16/1988 (en_US); 16.08.1988 (de_DE)|
| %X|	Locale’s appropriate time representation.|	 21:30:00 (en_US); 21:30:00 (de_DE)|
| %%|	A literal '%' character.|	%	 |

A função  `strptime` faz o caminho reverso e importa dados com um determinado formato.

In [157]:
datetime.strptime("21/11/06 16:30", "%d/%m/%y %H:%M")

datetime.datetime(2006, 11, 21, 16, 30)

In [158]:
mydate = datetime.now()
mydate.strftime("%B") 
mydate.strftime("%b")

'May'

##  Arquivo mais Antigo Revisitado

Primeiro crio uma coluna extra nos dados combinando day, month e hour.

In [159]:
df['stringdata']=("2017"+" "+ df["month"]+" "+df["day"]+ " "+df["hour"])

Depois gero outra coluna transformando em `timestamp`.

In [160]:
df['floatdate']=[datetime.strptime(str, "%Y %b %d %H:%M").timestamp() for str in df['stringdata']]

O golpe final é achar o indice do mínimo e imprimir o arquivo.

In [161]:
index=df['floatdate'].idxmin()
df.ix[index][1]

'cookbook-data'

## Exercícios (0.25 pts)

1. Com base nos dados de https://pt.wikipedia.org/wiki/Lista_de_epis%C3%B3dios_de_Pok%C3%A9mon Construa um  dataframe para armazenar 
as informações sobre os episódios de Pokemon, contendo: 
- Série
- Geração
- Temporada
- Primeiro Episódio
- Último Episódio
- Região
2. Descubra qual a geração mais longeva
3. Descubra quantas temporadas durou cada série

In [0]:
import pandas as pd
import numpy as np

In [155]:
def preenche(lis):
    for elem in range(1,len(lis)):
        if lis[elem]!=lis[elem]: #truque sujo!
            lis[elem]=lis[elem-1]
    return lis

In [186]:
def sint(x):
    try: 
        return int(x)
    except:
        return 947+20+1

In [187]:
lispoktab=pd.read_html( "https://pt.wikipedia.org/wiki/Lista_de_epis%C3%B3dios_de_Pok%C3%A9mon")
df=lispoktab[0]
df.ix[2]=np.roll(df.ix[2],2)
df.ix[3]=np.roll(df.ix[3],1)
df.ix[4]=np.roll(df.ix[4],2)
df.ix[5]=np.roll(df.ix[5],2)
df.ix[7]=np.roll(df.ix[7],2)
df.ix[8]=np.roll(df.ix[8],2)
df.ix[9]=np.roll(df.ix[9],2)
df.ix[11]=np.roll(df.ix[11],2)
df.ix[12]=np.roll(df.ix[12],2)
df.ix[13]=np.roll(df.ix[13],2)
df.ix[15]=np.roll(df.ix[15],2)
df.ix[16]=np.roll(df.ix[16],2)
df.ix[18]=np.roll(df.ix[18],2)
df.ix[19]=np.roll(df.ix[19],2)


df.columns=df.ix[0] # muda o nome das colunas
df=df.drop(0) # elimina a primeira linha
df['Série']=preenche(list(df['Série'])) # elimina elementos com Nan
df['Geração']=preenche(list(df['Geração']))
df['Região']=preenche(list(df['Região']))
df['Episódios']=[episodio[0:-7] for episodio in df['Episódios']] # elimina parte final 
df['Primeiro']=[int(episodio[0:3]) for episodio in df['Episódios']] # separa em duas partes
df['Último']=[sint(episodio[4:-1]) for episodio in df['Episódios']]

In [190]:
df["# Episódios"]=df["Último"]-df["Primeiro"]+1

In [191]:
df

,Série,Geração,Temporada,Descrição,Episódios,Região,Primeiro,Último,# Episódios
1,Série Original,Primeira,Liga Índigo,"Mostra a jornada de Ash, Misty e Brock na Liga...",001-083,Kanto,1,83,83
2,Série Original,Primeira,Aventuras nas Ilhas Laranja,"Mostra a jornada de Ash, Misty e Tracey na Lig...",084-118,Ilhas Laranja,84,118,35
3,Série Original,Segunda,A Jornada Johto,"Inicia a jornada de Ash, Misty e Brock em Joht...",119-159,Johto,119,159,41
4,Série Original,Segunda,Campeões da Liga Johto,Continua com as aventuras de Ash e seus amigos...,160-211,Johto,160,211,52
5,Série Original,Segunda,Master Quest,"Encerra as aventuras em Johto, Misty volta a C...",212-276,Johto,212,276,65
6,Geração Avançada,Terceira,Pokémon: Avançado,"Inicia as Aventuras de Ash, Brock,agora juntam...",277-316,Hoenn,277,316,40
7,Geração Avançada,Terceira,Desafio Avançado,Continua com a jornada de Ash e seus amigos em...,317-368,Hoenn,317,368,52
8,Geração Avançada,Terceira,Batalha Avançada,Encerra as aventuras em Hoenn e começa a Jorna...,369-421,Hoenn,369,421,53
9,Geração Avançada,Terceira,Batalha da Fronteira,Conclui a Jornada na Batalha da Fronteira. May...,422-468,Kanto,422,468,47
10,Diamante e Pérola,Quarta,Diamante e Pérola,Inicia as aventuras de Ash e Brock em Sinnoh c...,469-520,Sinnoh,469,520,52
11,Diamante e Pérola,Quarta,Batalha Dimensional,"Continua as aventuras de Ash, Brock e Dawn em ...",521-572,Sinnoh,521,572,52
12,Diamante e Pérola,Quarta,Batalhas Galácticas,"Continua a jornada de Ash, Dawn e Brock em Sin...",573-625,Sinnoh,573,625,53
13,Diamante e Pérola,Quarta,Vencedores da Liga Sinnoh,"Conclui a jornada de Ash, Dawn e Brock em Sinn...",626-659,Sinnoh,626,659,34
14,Preto e Branco,Quinta,Preto e Branco,Inicia as aventuras de Ash na região de Unova ...,660-707,Unova,660,707,48
15,Preto e Branco,Quinta,Destinos Rivais,Ash reencontra Dawn.Tem 49 episódios,708-756,Unova,708,756,49
16,Preto e Branco,Quinta,Aventuras em Unova (e Mais Além),"Continua a jornada de Ash, Iris e Cilan em Uno...",757-803,Unova,757,803,47
17,XY,Sexta,A Série XY,"Inicia as aventuras de Ash, Serena, Clemont e ...",804-852,Kalos,804,852,49
18,XY,Sexta,Kalos Quest,"Continua as aventuras de Ash, Serena, Clemont ...",853-897,Kalos,853,897,45
19,XY,Sexta,XY & Z,"Continua A Saga de Ash ,Clement, Bonnie e Sere...",898-946,Kalos,898,946,49
20,Sun and Moon,Sétima,Sun and Moon,"Inicia as aventuras de Ash, Lana, Mallow, Kiaw...",947-,Alola,947,968,22

## Exemplo Tenis

### Para baixar os programas use o comando (não será necessário no SageMathCloud)

In [1]:
%%sh

git clone https://github.com/ipython-books/cookbook-data.git
cd cookbook-data
unzip tennis.zip

Archive:  tennis.zip

fatal: destination path 'cookbook-data' already exists and is not an empty directory.
replace data/Andy-Murray.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:  NULL
(EOF or read error, treating as "[N]one" ...)

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
player = 'Roger Federer'
filename = "./cookbook-data/data/{name}.csv".format(name=player.replace(' ', '-')) 
df = pd.read_csv(filename)

In [8]:
df

,year,tournament,start date,type,surface,draw,atp points,atp ranking,tournament prize money,round,...,player2 2nd serve return points total,player2 break points converted won,player2 break points converted total,player2 return games played,player2 total service points won,player2 total service points total,player2 total return points won,player2 total return points total,player2 total points won,player2 total points total
0,1998,"Basel, Switzerland",05.10.1998,WS,Indoor: Hard,Draw: 32,1,396.0,"$9,800",R32,...,22.0,4.0,8.0,8.0,36.0,50.0,26.0,53.0,62.0,103.0
1,1998,"Toulouse, France",28.09.1998,WS,Indoor: Hard,Draw: 32,59,878.0,"$10,800",R32,...,19.0,0.0,1.0,8.0,33.0,65.0,8.0,41.0,41.0,106.0
2,1998,"Toulouse, France",28.09.1998,WS,Indoor: Hard,Draw: 32,59,878.0,"$10,800",R16,...,30.0,0.0,4.0,10.0,46.0,75.0,23.0,73.0,69.0,148.0
3,1998,"Toulouse, France",28.09.1998,WS,Indoor: Hard,Draw: 32,59,878.0,"$10,800",Q,...,28.0,3.0,10.0,10.0,44.0,63.0,26.0,67.0,70.0,130.0
4,1998,"Geneva, Switzerland",24.08.1998,CH,Outdoor: Clay,Draw: 32,1,680.0,$520,R32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1998,"Gstaad, Switzerland",06.07.1998,WS,Outdoor: Clay,Draw: 32,1,702.0,"$5,250",R32,...,38.0,4.0,5.0,10.0,38.0,62.0,35.0,74.0,73.0,136.0
6,1999,"Brest, France",25.10.1999,CH,Indoor: Hard,Draw: 32,78,66.0,"$14,400",R32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1999,"Brest, France",25.10.1999,CH,Indoor: Hard,Draw: 32,78,66.0,"$14,400",R16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1999,"Brest, France",25.10.1999,CH,Indoor: Hard,Draw: 32,78,66.0,"$14,400",Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1999,"Brest, France",25.10.1999,CH,Indoor: Hard,Draw: 32,78,66.0,"$14,400",S,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1999,"Brest, France",25.10.1999,CH,Indoor: Hard,Draw: 32,78,66.0,"$14,400",W,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1999,"Lyon, France",18.10.1999,WS,Indoor: Carpet,Draw: 48,14,67.0,"$7,290",R64,...,24.0,1.0,5.0,9.0,38.0,69.0,17.0,57.0,55.0,126.0
12,1999,"Lyon, France",18.10.1999,WS,Indoor: Carpet,Draw: 48,14,67.0,"$7,290",R32,...,55.0,4.0,10.0,15.0,57.0,97.0,44.0,109.0,101.0,206.0
13,1999,"Vienna, Austria",11.10.1999,CS,Indoor: Hard,Draw: 32,128,93.0,"$34,700",R32,...,23.0,2.0,3.0,9.0,24.0,51.0,18.0,51.0,42.0,102.0
14,1999,"Vienna, Austria",11.10.1999,CS,Indoor: Hard,Draw: 32,128,93.0,"$34,700",R16,...,25.0,2.0,3.0,9.0,35.0,71.0,23.0,60.0,58.0,131.0
15,1999,"Vienna, Austria",11.10.1999,CS,Indoor: Hard,Draw: 32,128,93.0,"$34,700",Q,...,32.0,2.0,5.0,13.0,48.0,79.0,25.0,77.0,73.0,156.0
16,1999,"Vienna, Austria",11.10.1999,CS,Indoor: Hard,Draw: 32,128,93.0,"$34,700",S,...,22.0,2.0,3.0,9.0,40.0,48.0,24.0,63.0,64.0,111.0
17,1999,"Basel, Switzerland",04.10.1999,WS,Indoor: Carpet,Draw: 32,43,106.0,"$27,970",R32,...,34.0,2.0,4.0,14.0,44.0,67.0,27.0,79.0,71.0,146.0
18,1999,"Basel, Switzerland",04.10.1999,WS,Indoor: Carpet,Draw: 32,43,106.0,"$27,970",R16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1999,"Basel, Switzerland",04.10.1999,WS,Indoor: Carpet,Draw: 32,43,106.0,"$27,970",Q,...,25.0,4.0,10.0,10.0,44.0,65.0,37.0,79.0,81.0,144.0
20,1999,"Toulouse, France",27.09.1999,WS,Indoor: Hard,Draw: 32,24,96.0,"$6,250",R32,...,21.0,0.0,0.0,10.0,44.0,76.0,19.0,65.0,63.0,141.0
21,1999,"Toulouse, France",27.09.1999,WS,Indoor: Hard,Draw: 32,24,96.0,"$6,250",R16,...,33.0,3.0,9.0,11.0,42.0,58.0,37.0,82.0,79.0,140.0
22,1999,"Tashkent, Uzbekistan",13.09.1999,WS,Outdoor: Hard,Draw: 32,34,104.0,"$8,000",R32,...,19.0,1.0,2.0,9.0,34.0,63.0,12.0,47.0,46.0,110.0
23,1999,"Tashkent, Uzbekistan",13.09.1999,WS,Outdoor: Hard,Draw: 32,34,104.0,"$8,000",R16,...,44.0,3.0,8.0,16.0,64.0,98.0,38.0,96.0,102.0,194.0
24,1999,"Washington, DC, U.S.A.",16.08.1999,CS,Outdoor: Hard,Draw: 56,1,104.0,"$2,100",R64,...,34.0,5.0,9.0,9.0,36.0,55.0,39.0,76.0,75.0,131.0
25,1999,"Segovia, Spain",02.08.1999,CH,Outdoor: Hard,Draw: 32,8,106.0,"$1,720",R32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1999,"Segovia, Spain",02.08.1999,CH,Outdoor: Hard,Draw: 32,8,106.0,"$1,720",R16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1999,"SUI V BEL QF, Brussels, Belgium",16.07.1999,DC,Outdoor: Clay,Draw: 6,NaN,109.0,$,RR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1999,"SUI V BEL QF, Brussels, Belgium",16.07.1999,DC,Outdoor: Clay,Draw: 6,NaN,109.0,$,RR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1999,"Gstaad, Switzerland",05.07.1999,WS,Outdoor: Clay,Draw: 32,1,107.0,"$5,250",R32,...,27.0,3.0,7.0,8.0,37.0,46.0,28.0,60.0,65.0,106.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1149,2012,"ATP World Tour Masters 1000 Miami, FL, U.S.A.",21.03.2012,1000,Outdoor: Hard,Draw: 96,45,3.0,"$23,210",R64,...,19.0,1.0,1.0,10.0,43.0,69.0,11.0,53.0,54.0,122.0
1150,2012,"ATP World Tour Masters 1000 Miami, FL, U.S.A.",21.03.2012,1000,Outdoor: Hard,Draw: 96,45,3.0,"$23,210",R32,...,31.0,1.0,2.0,14.0,63.0,94.0,19.0,75.0,82.0,169.0
1151,2012,"ATP World Tour Masters 1000 Indian Wells, CA, ...",08.03.2012,1000,Outdoor: Hard,Draw: 96,"1,000",3.0,"$1,000,000",R128,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1152,2012,"ATP World Tour Masters 1000 Indian Wells, CA, ...",08.03.2012,1000,Outdoor: Hard,Draw: 96,"1,000",3.0,"$1,000,000",R64,...,18.0,1.0,2.0,8.0,24.0,54.0,14.0,46.0,38.0,100.0
1153,2012,"ATP World Tour Masters 1000 Indian Wells, CA, ...",08.03.2012,1000,Outdoor: Hard,Draw: 96,"1,000",3.0,"$1,000,000",R32,...,37.0,0.0,3.0,15.0,65.0,96.0,20.0,88.0,85.0,184.0
1154,2012,"ATP World Tour Masters 1000 Indian Wells, CA, ...",08.03.2012,1000,Outdoor: Hard,Draw: 96,"1,000",3.0,"$1,000,000",R16,...,24.0,2.0,3.0,14.0,53.0,83.0,20.0,73.0,73.0,156.0
1155,2012,"ATP World Tour Masters 1000 Indian Wells, CA, ...",08.03.2012,1000,Outdoor: Hard,Draw: 96,"1,000",3.0,"$1,000,000",Q,...,27.0,0.0,3.0,9.0,23.0,37.0,18.0,62.0,41.0,99.0
1156,2012,"ATP World Tour Masters 1000 Indian Wells, CA, ...",08.03.2012,1000,Outdoor: Hard,Draw: 96,"1,000",3.0,"$1,000,000",S,...,20.0,2.0,4.0,10.0,30.0,56.0,20.0,56.0,50.0,112.0
1157,2012,"ATP World Tour Masters 1000 Indian Wells, CA, ...",08.03.2012,1000,Outdoor: Hard,Draw: 96,"1,000",3.0,"$1,000,000",W,...,21.0,0.0,3.0,10.0,46.0,71.0,9.0,56.0,55.0,127.0
1158,2012,"Dubai, U.A.E.",27.02.2012,500,Outdoor: Hard,Draw: 32,500,3.0,"$409,170",R32,...,31.0,0.0,2.0,9.0,32.0,56.0,14.0,57.0,46.0,113.0
1159,2012,"Dubai, U.A.E.",27.02.2012,500,Outdoor: Hard,Draw: 32,500,3.0,"$409,170",R16,...,16.0,0.0,0.0,11.0,43.0,66.0,9.0,53.0,52.0,119.0
1160,2012,"Dubai, U.A.E.",27.02.2012,500,Outdoor: Hard,Draw: 32,500,3.0,"$409,170",Q,...,25.0,0.0,0.0,10.0,39.0,66.0,14.0,54.0,53.0,120.0
1161,2012,"Dubai, U.A.E.",27.02.2012,500,Outdoor: Hard,Draw: 32,500,3.0,"$409,170",S,...,29.0,0.0,0.0,12.0,62.0,89.0,16.0,74.0,78.0,163.0
1162,2012,"Dubai, U.A.E.",27.02.2012,500,Outdoor: Hard,Draw: 32,500,3.0,"$409,170",W,...,32.0,1.0,3.0,11.0,40.0,66.0,19.0,64.0,59.0,130.0
1163,2012,"Rotterdam, The Netherlands",13.02.2012,500,Indoor: Hard,Draw: 32,500,3.0,"290,550",R32,...,19.0,0.0,0.0,10.0,37.0,57.0,12.0,53.0,49.0,110.0
1164,2012,"Rotterdam, The Netherlands",13.02.2012,500,Indoor: Hard,Draw: 32,500,3.0,"290,550",R16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1165,2012,"Rotterdam, The Netherlands",13.02.2012,500,Indoor: Hard,Draw: 32,500,3.0,"290,550",Q,...,26.0,0.0,0.0,12.0,56.0,88.0,14.0,68.0,70.0,156.0
1166,2012,"Rotterdam, The Netherlands",13.02.2012,500,Indoor: Hard,Draw: 32,500,3.0,"290,550",S,...,35.0,2.0,7.0,15.0,60.0,102.0,32.0,92.0,92.0,194.0
1167,2012,"Rotterdam, The Netherlands",13.02.2012,500,Indoor: Hard,Draw: 32,500,3.0,"290,550",W,...,35.0,0.0,7.0,9.0,26.0,46.0,24.0,69.0,50.0,115.0
1168,2012,"SUI vs. USA WG 1st RD, Switzerland",10.02.2012,DC,Indoor: Clay,Draw: 4,NaN,3.0,NaN,RR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1169,2012,"Australian Open, Australia",16.01.2012,GS,Outdoor: Hard,Draw: 128,720,3.0,"A$437,000",R128,...,31.0,1.0,4.0,14.0,45.0,89.0,25.0,87.0,70.0,176.0
1170,2012,"Australian Open, Australia",16.01.2012,GS,Outdoor: Hard,Draw: 128,720,3.0,"A$437,000",R64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1171,2012,"Australian Open, Australia",16.01.2012,GS,Outdoor: Hard,Draw: 128,720,3.0,"A$437,000",R32,...,38.0,0.0,2.0,17.0,76.0,119.0,22.0,99.0,98.0,218.0
1172,2012,"Australian Open, Australia",16.01.2012,GS,Outdoor: Hard,Draw: 128,720,3.0,"A$437,000",R16,...,32.0,1.0,5.0,13.0,49.0,95.0,21.0,76.0,70.0,171.0
1173,2012,"Australian Open, Australia",16.01.2012,GS,Outdoor: Hard,Draw: 128,720,3.0,"A$437,000",Q,...,33.0,1.0,6.0,14.0,49.0,87.0,19.0,77.0,68.0,164.0
1174,2012,"Australian Open, Australia",16.01.2012,GS,Outdoor: Hard,Draw: 128,720,3.0,"A$437,000",S,...,49.0,6.0,16.0,21.0,95.0,141.0,51.0,135.0,146.0,276.0
1175,2012,"Doha, Qatar",02.01.2012,250,Outdoor: Hard,Draw: 32,90,3.0,"$50,030",R32,...,6.0,0.0,0.0,8.0,22.0,45.0,9.0,41.0,31.0,86.0
1176,2012,"Doha, Qatar",02.01.2012,250,Outdoor: Hard,Draw: 32,90,3.0,"$50,030",R16,...,17.0,0.0,2.0,9.0,28.0,50.0,11.0,49.0,39.0,99.0
1177,2012,"Doha, Qatar",02.01.2012,250,Outdoor: Hard,Draw: 32,90,3.0,"$50,030",Q,...,29.0,4.0,9.0,16.0,47.0,78.0,34.0,95.0,81.0,173.0
1178,2012,"Doha, Qatar",02.01.2012,250,Outdoor: Hard,Draw: 32,90,3.0,"$50,030",S,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df['win'] = df['winner'] == player
df['win'].tail()

1174    False
1175     True
1176     True
1177     True
1178    False
Name: win, dtype: bool

In [10]:
("{player} has won {vic:.0f}% "
               "of his ATP matches.").format(
                player=player, vic=100*df['win'].mean())

'Roger Federer has won 82% of his ATP matches.'

In [11]:
df['dblfaults'] = (df['player1 double faults'] / 
                   df['player1 total points total'])

In [168]:
df['dblfaults'].tail()

1174    0.018116
1175    0.000000
1176    0.000000
1177    0.011561
1178         NaN
Name: dblfaults, dtype: float64

In [169]:
gb = df.groupby('year')

In [13]:
plt.plot_date(gb['start date'].max(), gb['dblfaults'].mean(), '-', lw=3)
plt.plot_date(df['start date'], df['dblfaults'], alpha=.25, lw=0)
plt.ylabel('Proportion of double faults per match.')
plt.xlabel('Year')
plt.show()

NameError: name 'gb' is not defined

**Exercício:**

1. Construa uma tabela com o número de vitórias e derrotas de Federer para cada tipo de terreno.