In [1]:
## exer 1
L=list(range(20,0,-1))
print (L)
[elem for elem in L if elem%2==0]

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [2]:
##exerc 2
AlunoLorraine=[7, 7, 4, 8]
mediaalunox=sum(AlunoLorraine)/4
print ("aluno1:", mediaalunox)

aluno1: 6.5

In [3]:
## exerc 3
AlunoLorraine=[7, 7, 4, 8]
mediaalunox=sum(AlunoLorraine)/4
print ("aluno1:", mediaalunox)
AlunoThiago=[3,7,8,10]
mediaaluno=sum(AlunoThiago)/4
print ("aluno2", mediaaluno)

aluno1: 6.5
aluno2 7.0

In [ ]:
## exerc 4
idade1=input("insira a idade da primeira pessoa ")
idade2=input("insira a idade da segunda pessoa ")
idade3=input("insira a idade da terceira pessoa ")
idade4=input("insira a idade da quarta pessoa ")
idade5=input("insira a idade da quinta pessoa ")

altura1=input("insira a altura da primeira pessoa ")
altura2=input("insira a altura da segunda pessoa ")
altura3=input("insira a altura da terceira pessoa ")
altura4=input("insira a altura da quarta pessoa ")
altura5=input("insira a altura da quinta pessoa ")
idade=[]
altura=[]

altmax=max(altura)
altmin=min(altura)
idademax=max(idade)
idademin=min(idade)
print("maximovalor das idades: ", altmax)
print("maximovalor das alturas", idademax)