In [1]:
# Itens 01 e 02

lis = range(20)
print("Lista: ",lis)
print("Numeros Pares: ",lis[::2])

Lista:  range(0, 20)
Numeros Pares:  range(0, 20, 2)

In [3]:
# Item 03


notas1 = [4, 7, 6, 7]
notas2 = [5, 9, 6, 8]

print("Aluno 01:\nNotas:",notas1,"\nMédia:", sum(notas1)/len(notas1))
print("\nAluno 02:\nNotas:",notas2,"\nMédia:", sum(notas2)/len(notas2))

Aluno 01:
Notas: [4, 7, 6, 7]
Média: 6.0

Aluno 02:
Notas: [5, 9, 6, 8]
Média: 7.0

In [1]:
# Item 04

idades = []
altura = []
for i in range(5):
    idades.append(int(input("Insira a idade da "+str(i+1)+"a. pessoa(anos)")))
print("Idades: ",idades)

for i in range(5):
    altura.append(float(input("Insira a altura da "+str(i+1)+"a. pessoa(metros)")))
print("Alturas: ",altura)

print("A pessoa mais velha possui"+str(max(idades))+"anos e a pessoa mais nova"+str(min(idades))+"anos")
print("A pessoa mais alta possui"+str(max(altura))+"metros e a pessoa mais baixa"+str(min(altura))+"metro")

Insira a idade da 1a. pessoa(anos)20
Insira a idade da 2a. pessoa(anos)22
Insira a idade da 3a. pessoa(anos)23
Insira a idade da 4a. pessoa(anos)25
Insira a idade da 5a. pessoa(anos)31
Idades:  [20, 22, 23, 25, 31]
Insira a altura da 1a. pessoa(metros)1.80
Insira a altura da 2a. pessoa(metros)1.82
Insira a altura da 3a. pessoa(metros)1.76
Insira a altura da 4a. pessoa(metros)1.93
Insira a altura da 5a. pessoa(metros)1.74
Alturas:  [1.8, 1.82, 1.76, 1.93, 1.74]
A pessoa mais velha possui31anos e a pessoa mais nova20anos
A pessoa mais alta possui1.93metros e a pessoa mais baixa1.74metro

In [2]:
# Item 05

v1 = range (10)
v2 = range (10)
v3 = []
for i in range (10):
    v3.append(v1[i])
    v3.append(v2[i])
print("Lista intercalada: ",v3)

Lista intercalada:  [0, 0, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9]